
body { margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color:brown;
}

.table-index{
    width: 100%;
    margin-top: 1rem;
}

.table-index a {
    margin-right: 1rem;
}
